@import "../../color.scss";

.button--component {
    display: inline-block;
    cursor: pointer;
    background: var(--point);
    color: var(--back);
    padding: 8px 14px;
    font-size: 18px;
    width: fit-content;
    border-radius: 4px;

    &:hover {
        filter: brightness(1.05);
    }

    &.subtle {
        background: none;
        color: var(--point);
        border: solid 1px var(--point);

        &:hover {
            filter: brightness(0.9);
        }
    }

    &.disabled {
        cursor: not-allowed;
        background-color: $disabled-grey;

        &:hover {
            filter: none;
        }
    }
}