@import "../../color.scss";

.code {
    color: var(--back);
    font-size: 16px;
    line-height: 24px;

    background-color: var(--point);
    padding: 10px;

    white-space: pre;

    border-radius: 6px;
}