.moonlight-icn {
    width: 32px;
    height: 32px;
    background: center url(../../icons/moon-outline.svg) transparent no-repeat;
}

.dropdown-down-arrow {
    width: 16px;
    height: 16px;
    background: center url(../../icons/down-arrow-dropdown.svg) transparent no-repeat;
}

.dark .dropdown-down-arrow {
    width: 16px;
    height: 16px;
    background: center url(../../icons/down-arrow-dropdown-dark.svg) transparent no-repeat;
}

.dropdown-right-arrow {
    width: 16px;
    height: 16px;
    background: center url(../../icons/right-arrow-dropdown.svg) transparent no-repeat;
}

.dark .dropdown-right-arrow {
    width: 16px;
    height: 16px;
    background: center url(../../icons/right-arrow-dropdown-dark.svg) transparent no-repeat;
}